

body{
      min-height: 100vh;
      background: url(accets/bg2news.jpg);
      background-position: center;
      background-size: cover;
}

.card{
      padding: 10px;
      margin-top: 10%;
      /* height: 10%; */
      /* width: 30%; */
}

.card img{
      width: 100%;
}

.images{
      width: 50%;
      height: 50%;
}


#single-box {
      margin: 50px auto;
      width: 70%;
}
  
#single-box img {
      width: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alumni+Sans+Collegiate+One:ital@1&family=Lilita+One&family=Merriweather:ital,wght@1,700&family=Pixelify+Sans&family=Reem+Kufi+Fun&family=Roboto+Slab&family=Roboto:wght@100&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alumni+Sans+Collegiate+One:ital@1&family=Lilita+One&family=Lora&family=Merriweather:ital,wght@1,700&family=Pixelify+Sans&family=Reem+Kufi+Fun&family=Roboto+Slab&family=Roboto:wght@100&family=Young+Serif&display=swap');
#single-box p {
    color: aliceblue;
    font-size: 20px;
    font-family: 'Young+Serif&display=swap';
}

#single-box h4 {
      color: rgb(163, 255, 235);
      font-size: 30px;
      font-weight: 600;
      font-family: 'Young+Serif&display=swap';
}

#single-box h1 {
      color: rgb(0, 0, 0);
      font-size: 38px;
      font-weight: 800;
      font-family: 'Young+Serif&display=swap';
      text-decoration: underline;
}


.more {
      color: rgb(29, 182, 233);
      font-size: 25px;
      font-weight: 800;
      font-family: 'Young+Serif&display=swap';
      text-decoration: underline;
      padding: 10px 20px 10px 20px ;
      background-color: blueviolet;
}


:hover.more{
      color: rgb(47, 159, 196);
      font-size: 25px;
      font-weight: 800;
      font-family: 'Young+Serif&display=swap';
      text-decoration: underline;
      padding: 10px 20px 10px 20px ;
      background-color: rgb(57, 11, 100);
}


/* footer section css start  */

.footer {
      padding: 70px 0;
      display: flex;
      justify-content: space-evenly;
      background-color: #0724a8;
}



.main-footer h1 {
      font-size: 22px;
      line-height: 117%;
      color: #ffffff;
      margin-bottom: 10px;
      font-weight: 500;
}

.main-footer h2 {
      color: #ffffff;
      font-weight: 500;
}

.main-footer ul li a {
      color: #ffffffcc;
      text-decoration: none;
}

footer {
      background-color: #0a40d7;
      border-top: 1px solid #280ba9;
      font-size: 17px;
      padding: 15px 5px;
      color: #b0f3ff;
      text-align: center;
}

footer a {
      text-decoration: none;
      color: #ffffff;
}

.logoinfo p {
      color: #050dff;
      font-size: 25px;
      font-weight: 800;
      font-family: 'Libre+Baskerville';
      margin-top: 5px;
}

.contact-details {
      margin-top: 20px;
}

.contact-details li {
      list-style: none;
      margin: 10px 0;
}

.contact-details li a {
      text-decoration: none;
      color: #f1f1f1;
}

.contact-details .fa {
      color: #f1f1f1;
      margin-right: 10px;
}

.sociallogos {
      padding: 20px 0;
}

.sociallogos .logobox a {
      padding: 0 10px;
      text-decoration: none;
      color: #1354bd;
      font-size: 22px;
}

.com ul li {
      padding: 5px 0;
}

@media only screen and (max-width: 749px) {
      .footer {
            padding: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr;
      }

      .info {
            padding: 20px 0;
      }
}

@media (max-width: 480px) {
      .footer {
            grid-template-columns: 1fr;
      }

      .sociallogos {
            padding: 20px 0;
      }

      .com {
            padding: 20px 0;
      }

}

/* footer section css end  */